:root {
    --lightblue: #52d3f0; 
    --yellow: #ffcf40;
    --mediumblue: #1ca2c1; 
    --greyblack: #252525; 
    --smokywhite: #e8e8e8; 
    --green: #019101; 
    --white: #f6f5f2; 
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat\ \(1\)/') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*HUSK FONT!!!!!!!!!*/
body {
    max-width: 1400px;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    padding-bottom: 20px;


    #desktopnav{
        display: none;
    }

    #desktopnav2{
        display: none;
    }

    #logo2{
        display: none;
    }

    #logo1{
        width: 50px;
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

     nav {
        display: flex;
        align-items: center;
        width: 100%;
    }
    nav ul {
        display: flex;
        gap: 20px;
        margin-left: auto;
        padding: 15px 20px;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 24px;
        color: var(--greyblack);
    }

    #user{
       
    }
}

main {
    max-width: 1000px;

    #bluewaters{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    #womanpool{
        width: 100vw;
    }

    #index-one{
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        padding: 3%;
        margin-top: 5%;
        margin-bottom: 20%;
        border: 1px solid rgba(221, 221, 221, 0.5);
        border-radius: 10px;
        position: absolute;
        top: 18%;
        left: 8%;
        background-color: white;
        
    }


    #scrollul{
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        width: 95%;
        padding-inline-start: 0;
        gap: 20px;
    }

    #scrollul li {
        flex: 0 0 auto;
        scroll-snap-align: center;
        list-style: none;
        width: fit-content;
        text-align: center;
    }

    #scrollul li a {
        display: flex;
        text-decoration: none;
        color: var(--greyblack);
        font-size: 12px;
    }

    #scrollul li i{
        margin-right: 5px;
        font-size: 15px;
    }
    #index-one form {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 0%;
    }

    form label{
        font-size: 12px;
    }

    form select, form input, form button {
        padding: 5px;
        margin-bottom: 15px;
    }

   #flexbox-form #reiselengde{
    width: 20%;
   }

   #index-one form button{
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    padding: 3%;
   }

    #index-two {
        margin-top: 70%;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
    }

    #index-two img {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        display: block;
        object-fit: cover;
    }


    #index-two h2{
        font-size: 20px;
    }


    #index-two p{
        padding-top: 0;
        font-size:15px;
        margin: 0;
    }

    #index-two .thick {
        font-size: 20px;
        padding: 0;
        padding-bottom: 5%;
        font-weight: 800;
    }

    #index-two article {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--lightblue);
        color: var(--greyblack);
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: left;
        width: 65%;
        padding-left: 5%;
        padding-right: 5%;
    }

    #index-two button {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50);
        background-color: var(--yellow);
        border: 1px solid rgba(221, 221, 221, 0.5);
        padding: 10px;
        border-radius: 8px;
        font-weight: 800;
    }



    #index-three {
        width: fit-content;
        display: flex;
        gap: 20px;
        padding-bottom: 10%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: thin;
        -ms-overflow-style: none;
    }

    #index-three article {
        flex: 0 0 80%;
        width:fit-content;
        border: 1px solid rgba(221, 221, 221, 0.5);
        padding: 5%;
        border-radius: 10px;
    }

    #index-three a{
        font-size: 15px;
        text-decoration: none;
        color: var(--mediumblue);
    }


   
    #index-four {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #index-four h2{
        font-size: 20px;
        align-self: flex-start;
        text-align: left;
        padding-left: 5%;
        padding-right: 5%;
    }

    #index-four h3{
        font-size: 20px;
        align-self: flex-start;
        text-align: left;
        padding-left: 5%;
        padding-right: 5%;
    }

    #index-four p{
        padding-left: 5%;
        padding-right: 5%;
        align-self: flex-start;
        text-align: left;
    }

    #index-four article{
        position: relative;
        width: 90%;
        text-align: center;
        padding-bottom: 10%;
        border: 1px solid rgba(221, 221, 221, 0.5);
        border-radius: 10px;
        margin-bottom: 10px;
    }

    #index-four img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .overlayh4{
        position: absolute;
        top: -21px;
        left: 0px;
        width: 20%;
        padding: 3%;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--mediumblue);
        color: var(--white);
    }
}



footer  {
    background-color: var(--greyblack);
    width: 100%;

    section{
        margin-left: 5%;
    }

    #flags img{
        width: 40px;
    }

    #flags {
        padding-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    #flags article {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #flags p{
        color: white;
        font-size: 14px;
    }

    #pay h4{
        color: white;
        text-transform: uppercase;
    }

    #pay ul {
        display: flex;
        gap: 15px;
        padding: 0;
        list-style: none;
        
    }

    #pay ul li {
        font-size: 20px;
    }

    #pay ul a {
        text-decoration: none;
        color: white;
    }

    #sub h4{
        color: white;
        text-transform: uppercase;
    }

    #sub form{
        border: 1px solid white;
        width: fit-content;
        padding: 20px;
        margin-bottom: 5%;
    }

    #sub p{
        color: white;
    }

    #sub input{
        height: 25px;
        border-radius: 8px;
        border: none;
    }

    #sub form button{
        height: 25px;
        border-radius: 8px;
        border: none;
        background-color: var(--yellow);
        font-weight: 600;
        font-size: 12px;
    }

    #present{
        margin-left: 5%;
        text-decoration: none;
        color: white;
    }

    #service h4{
        color: white;
        text-transform: uppercase;
    }

    #service ul{
        list-style: none;
        padding: 0;
    }
    
    #service a{
        text-decoration: none;
        color: white;
    }

    #service li{
        padding-bottom: 2%;
    }

    #some{
        padding-bottom: 3%;
    }

    #some ul{
        display: flex;
        gap: 15px;
        padding: 0;
        list-style: none;
    }

    #some h4{
        color: white;
        text-transform: uppercase;
    }
   
    #some ul li {
        font-size: 20px;
    }

    #some ul a {
        text-decoration: none;
        color: white;
    }
}






/*media queries*/
@media (min-width: 500px){

    #mobilefirstnav{
        display: none;
    }

    header #desktopnav{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: auto;
        padding: 15px 20px;

    }

    #desktopnav nav li{
        list-style: none;
    }

    #desktopnav a {
        text-decoration: none;
        font-size: 18px;
        color: var(--greyblack);
    }

    #desktopnav .bluenav{
        color: var(--mediumblue);
        font-weight: 700;
        font-size: 15px;
        border: 1px solid;
        padding: 8px;
        border-radius: 50px;
    }

    #desktopnav i{
        font-size: 15px;
        padding-right: 8px;
    }

    #logo1{
        display: none;
    }

    header #logo2{
        display: block;
        width: 50px;
    }



  

   main{

    #index-one{
        margin-top: 10%;
        margin-bottom: 0;
    }

    #index-two{
        margin-top: 45%;
    }

    #index-four h2{
        width: 100%;
    }

    #index-four {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #index-four article {
        width: 32%;
        height: 320px;
        margin-bottom: 15px;
    }

    #index-four article h3{
        font-size: 18px;

    }

    #index-four article p{
        font-size: 15px;
    }



    #index-one form .formflex{
        display: flex;
        flex-direction: column;
        width: 17%;
    }

    #index-one form {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;
        
    }


    form select, form input, form button {
        padding: 0;
        height: 20px;
    }

    form label{
        font-size: 12px;
    }
    
    index-one form button{
        margin-bottom: 0;
        padding: 0;
        
    }

    
   }
}


   

}

